<!-- <div class="col-md-12"> -->
  <div class="job">
   <%= link_to("Add a Product", new_admin_product_path, class: "btn btn-primary pull-right") %>

  </div>

  <h4>Product list</h4>
  <hr>



  <%= render 'thumbnail' %>

<!-- </div> -->