<div class="row" id="navbar-for-collecting">
  <div class="col-md-2 sidebar" >
  <!-- 左边栏 -->
    <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
      <li class="active"><%= link_to("10'x10' Displays", standard_size10_feiben_displays_path ) %> </li>
      <li><%= link_to("20'x20' Displays", standard_size20_feiben_displays_path ) %> </li>

    </ul>
  </div>





  <div class="col-md-10">

  <!-- 产品栏 -->
    <h4>商品列表</h4>
    <hr>

    <%= render 'thumbnail' %>





  </div>
</div>