<footer class="container" style="margin-top: 100px;">
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-11">



    <p class="">Copyright ©2016 Awesome Display
        <br>Power by
        <a href="http://github.com/liangchaob/" target=_newxdite>LiangChaob</a>
    </p>
    <!-- facebook link -->
    <div class="fb-like" data-href="https://shrouded-gorge-48699.herokuapp.com/" data-width="10" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
    <!-- facebook link -->
    <br>
    <br>
    <br>
    <br>

  </div>
  
</div>



</footer>